@font-face {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Manrope/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
}
